@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

body {
    transition: 0.5s;
    background-color: #182234;
    height: 100%;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h4 {
    text-align: center;
}


            /* H E A D E R */
.drop_menu {
    display: flex;
    justify-content: center;
}

.dropbtn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: #fff;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    background: #0F1521;
    box-shadow: 0px 0px 14px rgba(15, 21, 33, 0.55);
    border-radius: 7px;
    margin-top: 58px;
}

.dropdown-content a, .dropdown-content p {
    margin: 20px 0;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

            /* C O N T E N T */
.content {
    margin-top: 100px;
    width: 900px;
    height: 600px;
    background-color: #0F1521;
    box-shadow: 0px 0px 14px rgba(15, 21, 33, 0.55);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.err {
    color: #FF5D5D;
    font-size: 16px;
    position: absolute;
    top: 280px;
}

.descr {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_btn {
    width: 410px;
    height: 70px;
    background-color: #446AB4;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
}

form {
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 300px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #446AB4;
    border-radius: 5px;
    padding-left: 10px;
    color: #fff;
    outline: none;
}

.prof_inp {
    height: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.prof_btn {
    width: 315px;
    height: 40px;
    font-size: 16px;
}

.call, .call a {
    color: gray;
}

.call a {
    text-decoration: underline;
}

            /* C R E A T E   R O O M */
.rule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 300px;
    height: 50px;
    border: 2px solid #446AB4;
    border-radius: 5px;
}

.rule_descr {
    margin: 30px 0 10px 0;
}

            /* W A I T   R O O M */
.block-with-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    width: 396px;
    padding: 0;
    text-align: center;
    font-weight: 900;
}

.field {
    width: 240px;
    height: 240px;
}

.field_block-1, 
.field_block-2, 
.field_block-3, 
.field_block-4, 
.field_block-5, 
.field_block-6, 
.field_block-7, 
.field_block-8, 
.field_block-9 {
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.field-horizon {display: flex;}


.field_block-1 {
    border-right: 5px solid #182234;
    border-bottom: 5px solid #182234;
}
.field_block-2 {
    border-bottom: 5px solid #182234;
}
.field_block-3 {
    border-left: 5px solid #182234;
    border-bottom: 5px solid #182234;
}

.field_block-4 {
    border-right: 5px solid #182234;
}
.field_block-6 {
    border-left: 5px solid #182234;
}

.field_block-7 {
    border-top: 5px solid #182234;
    border-right: 5px solid #182234;
}
.field_block-8 {
    border-top: 5px solid #182234;
}
.field_block-9 {
    border-top: 5px solid #182234;
    border-left: 5px solid #182234;
}

.TicTac-ico {
    width: 50px;
}


            /* R O O M */
.game_info {
    display: flex;
    width: 400px;
    font-weight: 900;
}

.counter {
    font-size: 66px;
    font-weight: 900;
    margin: 0 20px;
}

.info_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info_name {
    font-size: 26px;
}

.new_game {
    margin-top: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    font-weight: 900;
}

            /* S T A T */
.stat_h {
    border: 2px solid #446AB4;
    width: 400px;
    height: 70px;
    font-size: 26px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    border-radius: 5px;
}

.stat_table {
    width: 700px;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.stat_cont {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stat_num {
    font-size: 26px;
}

.adv {
    width: 800px;
    height: 180px;
    border: 3px solid #44B4A0;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    color: #44B4A0;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.adv:hover {
    background-color: #44B4A0;
    color: #0F1521;
    filter: drop-shadow(0px 0px 22px rgba(68, 180, 160, 0.35));
}

.link_cont a {
    transition: .5s;
    color: #44B4A0;
    text-transform: lowercase;
    font-weight: 900;
    text-decoration: underline;
}

.adv:hover .link_cont a {
    color: #0F1521;
}

.adv-ph {
    letter-spacing: 6px;
    font-size: 26px;
    font-weight: 900;
}

.adv-examp {
    letter-spacing: 2px;
    font-weight: 900;
}

.git-links {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.link_cont {
    height: 20px;
    display: flex;
    align-items: center;
}
.adv img {
    position: absolute;
    right: -26px;
    top: 60px;
}